{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage'  %}">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Asset Listing</li>
          </ol>
        </nav>
    </div>
    <div class="col-md-2">
        <a href="{% url 'add-asset' %}" class="btn btn-success">Add New</a> &nbsp <a class="btn btn-secondary" href="{% url 'upload' %}" role="button">Upload Bulk</a>
    </div>
</div>

<div class="row">
    <p></p>
</div>
<div class="container-fluid">


    <div class="row"></div>

    <div class="row">
        <p></p>
    </div>
    <div class="row">
    <div class="col-md-4">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Type here to Search" id="searchHere">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>




    </div>

</div>
 <div class="row">
        <p></p>
    </div>


    <div class="card card-body">
        <h1 class="h3">Available Assets</h1>
        {% include 'base/validationmessages.html' %}
    </div>
    <div class="original-table">
        <table id="box" class="table table-hover table table-responsive table-sm">
            <thead class="thead">
                <tr>
                    <th scope="row">Engraved Number</th>
                    <th scope="row">Serial</th>
                    <th scope="row">Model Number</th>

                    <th scope="row">Location</th>
                    <th scope="row">Type</th>
                    <th scope="row">Condition</th>
                    <th scope="row">Availability</th>
                    <th scope="row">Purchase Date</th>
                    <th scope="row">Cost (UGX)</th>
                    <th scope="row">Cost (USD)</th>
                    <th scope="row">Donor Project Code</th>
                    <th scope="row">Donor Project</th>
                    <th scope="row" rowspan="2">Actions</th>
<!--                    <th scope="row">Delete</th>-->
                </tr>
            </thead>
            {% for item in page_obj %}
                <tr >

                    <td><a href="{% url 'assetdetails' item.Ast_Tag_nbr %}">{{item.Ast_Tag_nbr}}</a></td>
                    <td>{{item.Serial_No}}</td>
                    <td>{{item.Model_No}}</td>

                    <td>{{item.Location}}</td>
                    <td>{{item.Asset_Type}}</td>
                    <td>{{item.Asset_Condition}}</td>
                    <td>{{item.Availability}}</td>
                    <td>{{item.PurchaseDate}}</td>
                    <td>{{item.Item_Cost_UGX|floatformat:2|intcomma}}</td>
                    <td>{{item.Item_Cost_USD|floatformat:2|intcomma}}</td>
                    <td>{{item.Project}}</td>
                    <td>{{item.Project_Name}}</td>
                    <td><a class="btn-success btn-sm" href="{% url 'edit_item' item.Ast_Tag_nbr %}">Edit</a></td>
                    <td><a class="btn-success btn-sm" href="{% url 'assign' item.Ast_Tag_nbr %}">Assign</a></td>
                        <!-- <td><a class="btn-danger btn-sm" href="{% url 'delete-item' item.Ast_Tag_nbr %}">Delete</a></td> -->



                </tr>
                  {% endfor %}
        </table>
    </div>

    <div class="table-output">
        <table class="table table-hover table table-responsive table-sm">
            <thead class="thead">
                <tr>
                    <th scope="row">Engraved Number</th>
                    <th scope="row">Serial</th>
                    <th scope="row">Lawson Asset No #</th>

                    <th scope="row">Location</th>
                    <th scope="row">Type</th>
                    <th scope="row">Condition</th>
                    <th scope="row">Availability</th>
                    <th scope="row">Purchase Date</th>
                    <th scope="row">Cost (UGX)</th>
                    <th scope="row">Cost (USD)</th>
                    <th scope="row">Donor Project Code</th>
                    <th scope="row">Donor Project</th>
                    <th scope="row" rowspan="3">Actions</th>
                </tr>
            </thead>
            <tbody class="table-body">

            </tbody>
        </table>
    </div>


<div class="row pagination-container" id="pagination">
<div class="col-md-12">
    Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
</div>
<div class="align-right float-right mr-auto">
    <ul class="pagination align-right float-right mr-auto">

        {%  if page_obj.has_previous %}
            <li {%  if page_obj.number == 1 %}  class="page-item active"  {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
            <li class="page-item"><a class=page-link href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {%  if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}} &raquo;</a></li>
        {% endif %}

        </ul>
</div>
</div>
</div>




{% endblock %}

{% block scripts %}
<script src="{% static 'js/searchData.js' %}"></script>
{% endblock scripts %}
