<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="requisitions">
                <div class="card-header">
                    <h5 class="card-title">Current Asset Value</h5>
                </div>
                <div class="card-body">
                  <h3 class="card-title"> $ {{Total}}sss</h3>

                </div>


            </div>

        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="pending">
                <div class="card-header">
                    <h5 class="card-title">Asset Acquisition Value</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">$ {{Total}}</h3>

                </div>


            </div>

        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="serviced">
                <div class="card-header">
                    <h5 class="card-title">New Asset requests</h5>
                </div>
                <div class="card-body">
                   <h3 class="card-title"> You have {{requisitions_count}} new requests</h3>

                </div>


            </div>

        </div>
    </div>
</div>